<app-header (searchEvent)="getOpportunities($event)"></app-header>
<div class="wrapper-content">
  <div class="header-table">
    <h1>Oportunidades de negócio</h1>
    <input
      class="datePicker"
      type="date"
      name="date"
      id="date"
      [(ngModel)]="date"
      (change)="getOpportunities()"
    />
  </div>
  <div *ngIf="!isLoading && opportunities?.length">
    <div class="info">
      <span>Quantidade de oportunidades: {{ count }}</span>
      <span>Valor total: {{ totalValue }}</span>
    </div>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Data de criação</th>
            <th>Número do pedido</th>
            <th>Titulo</th>
            <th>Organização</th>
            <th>Pessoa de contato</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Valor</th>
            <th>Quantidade de itens</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let opportunity of opportunities">
            <td>{{ opportunity.date | date }}</td>
            <td>{{ opportunity.orderId }}</td>
            <td>{{ opportunity.title }}</td>
            <td>{{ opportunity.organization?.name }}</td>
            <td>{{ opportunity?.contact?.name }}</td>
            <td>{{ opportunity?.contact?.email }}</td>
            <td>{{ opportunity?.contact?.phone }}</td>
            <td>{{ opportunity.value }}</td>
            <td>{{ opportunity.products.length }}</td>
            <td>
              <button
                *ngIf="opportunity.products.length > 0"
                class="secondary-button"
                mat-raised-button
                (click)="openDialog(opportunity)"
              >
                Ver produtos
              </button>
              <span *ngIf="opportunity.products.length === 0">
                Nenhum produto
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator
      class="pagination"
      [length]="count"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="page"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
  <div *ngIf="opportunities?.length === 0" class="empty">
    <p>Nenhuma oportunidade encontrada</p>
  </div>
</div>
