@import '../../../styles/variables.scss';

:host {
  height: inherit;
  display: flex;
  width: 100%;
  flex-direction: column;

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    background-color: $light;
    border: 1px solid $secondary-dark;
    border-top: none;
  }
}
