@import "./variables.scss";

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid $white;
    border-radius: 5px;
    outline: none;
    &:focus {
        border-color: $primary-dark;
    }
}
