@import "../styles/variables.scss";

.table-wrapper {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: 1px solid $secondary-dark;
    background-color: $light;
    color: $secondary-dark;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: auto;
    .table {
        border-collapse: collapse;
        tbody {
            tr {
                &:hover {
                    background-color: $secondary-light;
                }
            }
        }
        th,
        td {
            min-width: 100px;
        }
        tr {
            border-bottom: 1px solid $secondary-dark;
        }
        td {
            padding: 8px;
            text-align: center;
        }
        th {
            padding: 2px 8px;
        }
    }
}
