$primary: #81F7E5;
$secondary: #B6DCFE;
$primary-dark: #58D3F7;
$primary-light: #A9F8FB;
$secondary-dark: #416788;
$secondary-light: #D6E9FE;
$dark: #668aa9;
$light: #e6f7ff;
$grey: #D6E5E3;
$white: #fff;
$black: #000;