<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <div class="dialog-table">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of data.products">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" class="primary-button">Fechar</button>
</div>
